/* LICENSE: Licensed with CC-NC-ND */
/* Author: SwankyNoob */
/* Version: 4.1 */

img {
filter: brightness(1.25) contrast(1.24) saturate(1.3);
image-rendering: optimizeQuality;
image-rendering: high-quality;
text-rendering: auto;
shape-rendering: auto;
}

video {
filter: brightness(1.25) contrast(1.24) saturate(1.3);
image-rendering: optimizeQuality;
image-rendering: high-quality;
text-rendering: auto;
shape-rendering: auto;
}

.CL3D {
filter: brightness(1.25) contrast(1.24) saturate(1.3);
image-rendering: optimizeQuality;
-webkit-transform: scale(0.999);
image-rendering: high-quality;
text-rendering: auto;
shape-rendering: auto;
}

div {
filter: brightness(1.25) contrast(1.24) saturate(1.3);
image-rendering: optimizeQuality;

}

