/* LICENSE: Licensed with CC-NC-ND */
/* Author: SwankyNoob */
/* Version: 4.1 */

/* LICENSE: Licensed with CC-NC-ND */
/* Author: SwankyNoob */
/* Version: 4.2 */

img {
image-rendering: optimizeQuality;
image-rendering: high-quality;
text-rendering: auto;
shape-rendering: auto;
}

video {
image-rendering: optimizeQuality;
image-rendering: high-quality;
text-rendering: auto;
shape-rendering: auto;
}

div {
image-rendering: optimizeQuality;
image-rendering: high-quality;
text-rendering: auto;
shape-rendering: auto;
}
