img {
filter: brightness(1.25) contrast(1.24) saturate(1.3);
image-rendering: optimizeQuality;
-webkit-transform: scale(0.999);
transform: scale(0.999);
}

video {
filter: brightness(1.25) contrast(1.24) saturate(1.3);
image-rendering: optimizeQuality;
-webkit-transform: scale(0.999);
transform: scale(0.999);
}

.3darea {
filter: brightness(1.25) contrast(1.24) saturate(1.3);
image-rendering: optimizeQuality;
-webkit-transform: scale(0.999);
transform: scale(0.999);
}

.CL3D {
filter: brightness(1.25) contrast(1.24) saturate(1.3);
image-rendering: optimizeQuality;
-webkit-transform: scale(0.999);
transform: scale(0.999);
}

div {
filter: brightness(1.25) contrast(1.24) saturate(1.3);
image-rendering: optimizeQuality;
-webkit-transform: scale(0.999);
transform: scale(0.999);
}

